#mw-thumbrotest-default-thumb,
#mw-thumbrotest-vips-thumb {
	float: left;
	margin-top: 1em;
	margin-right: 1em;
}

.uc-caption {
	/** Overrides ucompare caption position from bottom (bottom:10px) to top */
	top: 10px;
	bottom: auto;
}

.uc-mask {
	box-shadow: none;
}

#mw-thumbrotest-thumbnails {
	max-width: 100%;
	overflow: auto !important;
}
